@use '../../styles/constants' as *;
@use '../../styles/mixins' as *;

.keyboard {
  & > * {
    @include mobile-margin();
  }
}

.keyboard-category {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 20px;
  border: 1px solid #dfdfdf;
  letter-spacing: -0.05em;

  @media screen and (max-width: $md-breakpoint) {
    grid-template-columns: 100px 1fr;
  }

  & > * {
    // padding: 20px;
    // @media screen and (max-width: $md-breakpoint) {
    padding: 10px;
    // }
  }

  & > *:nth-child(odd) {
    background-color: #eeeeee;
  }

  & > *:not(:last-child) {
    border-bottom: 1px solid #dfdfdf;
  }

  .radio-group {
    align-items: center;
    // padding: 20px;

    // @media screen and (max-width: $md-breakpoint) {
    padding: 10px;
    // }
  }
}

.horizontal-scroll {
  display: flex !important;
  flex-wrap: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  & > * {
    flex: 0 0 auto;
  }
}

.card-section {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // column-gap: 30px;
  // row-gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 2rem;
  justify-content: space-around;
  justify-items: center;
}
