@use '../../styles/constants' as *;

.keyboard-img {
  .hover-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
    top: 0;
    visibility: hidden;
    opacity: 0;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
      color: white;
    }
  }

  &:hover {
    .hover-overlay {
      visibility: visible;
      opacity: 1;
    }
  }
}
