@use '../../styles/constants' as *;
@use '../../styles/mixins' as *;

.keyboard {
  max-width: 1300px;
  margin: 0 auto;

  & > * {
    @include mobile-margin();
  }
}

.keyboard-category {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 35px;
  letter-spacing: -0.05em;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  border-top: 5px solid #262626;
  overflow: hidden;

  @media screen and (max-width: $md-breakpoint) {
    grid-template-columns: 100px 1fr;
    margin-top: 70px;
  }

  & > * {
    padding: 12px;
    align-items: center;
  }

  & > *:nth-child(odd) {
    background-color: #262626;
    color: #fff;
    font-weight: 500;
  }

  & > *:nth-child(even) {
    padding-left: 20px;

    @media screen and (max-width: $md-breakpoint) {
      padding-left: 10px;
    }
  }

  .category-list {
    background-color: #fff;

    &:nth-child(4n-2) {
      background-color: #eeeeee;
    }
  }

  .clear-button-wrapper {
    @include flexbox();
    background-color: #262626;
    border-right: 1px solid #262626;

    & > button {
      padding: 0;

      & > * {
        vertical-align: middle;
      }

      span {
        margin-left: 5px;
      }
    }
  }

  .selected-category-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3px;
    column-gap: 3px;
    background-color: #eeeeee;

    .selected-category {
      display: inline-block;
      padding: 2px 10px;
      background-color: #262626;
      border-radius: 20px;
      color: #fff;
      font-size: 12px;

      & > span {
        vertical-align: text-top;
      }
    }
  }
}

.keyboard-sorting-count-area {
  @include flexbox(space-between);
  margin-bottom: 20px;

  .sorting-tab:not(.selected):hover {
    color: rgb(138, 138, 138);
  }

  .sorting-tab.selected {
    font-weight: 500;
  }

  .keyboard-count {
    font-weight: 500;
    letter-spacing: -0.05em;
  }
}

.horizontal-scroll {
  display: flex !important;
  flex-wrap: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  & > * {
    flex: 0 0 auto;
  }
}

.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 2rem;
  justify-content: space-around;
  justify-items: center;
}
