@use '../../styles/constants' as *;

// .card-wrapper {
// }

// .card {
// }

// .img-wrapper {
//   // width: 500px;
// }

.keyboard-img {
  // width: 500px;
  // height: 300px;
  // object-fit: cover;

  .hover-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
    top: 0;
    visibility: hidden;
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
      color: white;
    }
  }

  &:hover {
    .hover-overlay {
      visibility: visible;
      opacity: 1;
    }
  }
}
