@use '../../styles/constants' as *;
@use '../../styles/mixins' as *;

.login-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 1500px;
  min-width: 320px;
  height: calc(100vh - 120px);
  margin: 0 auto;
  margin-bottom: -70px;
  position: relative;
  min-height: 500px;

  @media screen and (max-width: $md-breakpoint) {
    height: calc(100vh - 50px);
    margin-bottom: -30px;
  }

  .login-flexbox {
    @include flexbox();
    width: 100%;
    height: 100%;
  }
}

.login-aside {
  flex: 1;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100%;
  position: relative;

  @media screen and (max-width: $md-breakpoint) {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.login-main {
  @include flexbox();
  flex: 1;
  flex-direction: column;
  height: 100%;

  @media screen and (max-width: $md-breakpoint) {
    justify-content: flex-start;
    margin-top: 20px;
  }

  .title {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
    border-bottom: 4px solid rgb(138, 138, 138);
    letter-spacing: 1px;
  }

  .inputbox {
    margin-bottom: 20px;
    label {
      font-size: 16px;
      margin-bottom: 5px;
      display: inline-block;
      color: rgb(138, 138, 138);
      font-weight: 400;
      letter-spacing: 1px;
    }
    input {
      width: 100%;
      padding: 10px 20px;
      outline: none;
      font-weight: 400;
      border: 1px solid rgb(138, 138, 138) !important;
      font-size: 16px;
      letter-spacing: 1px;
      border-radius: 30px;
    }
  }
  .loginbtn {
    // width: 50%;
    // position: relative;
    // left: 15%;
    width: 100%;
    // margin: 0 auto;
    // display: block;
    padding: 10px 20px;
    outline: none;
    border: 1px solid rgb(138, 138, 138);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 15px;
    color: #fff;
    transition: all 0.3s ease-out;
    background-color: rgb(165, 165, 165);

    &:hover {
      color: #fff;
      background-color: rgb(138, 138, 138);
    }
  }
}

.login-oauth {
  display: flex;
  flex-flow: row nowrap;
  margin: 24px 0;

  .oauthbtn {
    border-radius: 50%;
    border: 1.5px solid rgb(138, 138, 138);
    margin: 16px;
    width: 44px;
    height: 44px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: transform 0.5s;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    }
  }
}

.signup-path {
  font-size: 14px;
  color: rgb(138, 138, 138);
  transition: all 0.3s ease-out;

  &:hover {
    color: #000;
  }
}
