@import '~antd/dist/antd.less';

html,
body {
  height: unset;
  font-family: unset;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  font-size: inherit;
  color: currentColor;
  width: unset;
  height: unset;
  z-index: 5;
}

.ant-carousel .slick-prev {
  left: 2%;
}

.ant-carousel .slick-next {
  right: 2%;
}

.ant-carousel .slick-prev::before,
.ant-carousel .slick-next::before {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  content: '';
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  width: 15px;
  height: 15px;
}

.ant-carousel .slick-prev::before {
  transform: rotate(135deg);
}

.ant-carousel .slick-next::before {
  transform: rotate(-45deg);
}
