@use '../../styles/constants' as *;

.header {
  position: fixed;
  top: -1px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  padding: 50px 50px 0;
  z-index: 999;
  background-color: #000;
  color: #fff;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;

  &.bgc-white {
    background-color: #fff;
    color: #000;
  }
}

.header-logo {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-decoration: none;
  cursor: pointer;
  margin-top: 47px;

  & > * {
    vertical-align: middle;
  }
}

.nav-menu,
.button-menu {
  display: flex;
  column-gap: 30px;
  height: 100%;
}

.nav-item-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.nav-links,
.button-links {
  display: flex;
  text-decoration: none;
  height: 100%;
  cursor: pointer;

  &:hover {
    color: #bbbbbb;
  }
}

.menu-icon {
  display: none;
}

@media screen and (max-width: $md-breakpoint) {
  .header {
    height: 50px;
    padding: 15px 20px 0;
  }

  .header-logo {
    margin-top: 13px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000vh;
    position: absolute;
    top: 50px;
    left: -100%;
    opacity: 1;
    transition: left 0.5s ease;
  }
  .buttons {
    margin-right: 0;
  }

  .button-menu {
    column-gap: 25px;
  }

  .nav-menu.active {
    background-color: #000;
    left: 0;
    opacity: 1;
    // transition: all 0.5s ease;

    &.bgc-white {
      background-color: #fff;
    }
  }

  .nav-item-wrapper {
    display: none;
  }

  .nav-item-wrapper.active {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    position: relative;
    top: 10vh;
    flex-direction: column;
    row-gap: 30px;
    padding: 50px;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .nav-links {
    width: 100%;
    transition: all 0.3s ease;

    &:hover {
      color: #bbbbbb;
      padding-left: 8px;
    }
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: flex;
    font-size: 1.8rem;
    cursor: pointer;
  }
}
