@use '../../styles/constants' as *;

.keyboard-card-skeleton-container {
  width: 100%;
  height: 100%;

  .keyboard-skeleton-card {
    width: 100%;
    position: relative;
    top: 0px;
    transition: all 0.2s ease-out;
  }
  .keyboard-skeleton-img {
    width: 100%;
    height: 200px;
    background: linear-gradient(
      90deg,
      rgba(207, 216, 220, 0.2),
      rgba(207, 216, 220, 0.4),
      rgba(207, 216, 220, 0.2)
    );
  }
}
