@use '../../styles/constants' as *;

.keyboard-card-container {
  width: 100%;
  height: 100%;

  .keyboard-card {
    width: 100%;
    position: relative;
    top: 0px;
    transition: all 0.2s ease-out;

    &:hover {
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
    }

    .keyboard-card-title {
      display: flex;
      justify-content: space-between;
      font-size: 14px;

      .keyboard-card-heart {
        cursor: pointer;

        * {
          display: inline;
          color: #ff0000;
          margin-right: 3px;
        }
      }
    }
  }
  .keyboard-img {
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-top: 1px solid rgb(240, 240, 240);
      border-right: 1px solid rgb(240, 240, 240);
      border-left: 1px solid rgb(240, 240, 240);
    }

    .hover-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all 0.4s;
      top: 0;
      visibility: hidden;
      opacity: 0;

      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin: 0;
        color: white;
      }
    }

    &:hover {
      .hover-overlay {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .keyboard-card-information {
    display: flex;
    justify-content: space-between;

    & > div:first-child {
      display: flex;
      column-gap: 5px;
    }

    & > div:nth-child(2) {
      font-size: 12px;
    }
  }
}
