@use '../../styles/constants' as *;
@use '../../styles/mixins' as *;

.part3-background {
  position: relative;
  width: 100%;
  height: 100vh;

  .part3-image-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    .part3-image {
      margin: 0 auto;

      & > * {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .part3-text-wrapper {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    white-space: nowrap;

    .part3-text {
      color: #fff;
      font-size: 44px;
      font-weight: 700;
      text-align: center;

      & > span {
        background-color: #333333;
      }
    }
  }
}

@media screen and (max-width: $landing-breakpoint) {
  .part3-background {
    height: 500px;

    .part3-image-wrapper {
      width: 50%;

      .part3-image {
        width: 100%;
      }
    }

    .part3-text-wrapper {
      .part3-text {
        font-size: calc(100vw / 25);
      }
    }
  }
}
