@use '../../styles/constants' as *;
@use '../../styles/mixins' as *;

.part4-background {
  position: relative;
  width: 100%;
  height: 100vh;

  .part4-text-wrapper {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    white-space: nowrap;
    margin-bottom: 30px;

    .part4-text {
      color: #fff;
      font-size: 44px;
      font-weight: 700;
      text-align: center;
      text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
        0px -5px 35px rgba(255, 255, 255, 0.3);
    }
  }

  .part4-logo {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
    width: 70%;
    margin: 0 auto;
  }

  .part4-button-wrapper {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, 20%);
    white-space: nowrap;
    color: #fff;
    transition: all 0.5s ease;
    &:hover {
      color: #000;
      background-color: #fff;
    }

    .part4-button {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      padding: 10px 130px;
      border: 1px solid #fff;
    }
  }
}

@media screen and (max-width: $landing-breakpoint) {
  .part4-background {
    height: 500px;

    .part4-text-wrapper {
      .part4-text {
        font-size: max(calc(100vw / 25), 20px);
      }
    }

    .part4-logo {
      width: 80%;
    }

    .part4-button-wrapper {
      .part4-button {
        font-size: max(calc(100vw / 40), 16px);
        padding: 10px 50px;
      }
    }
  }
}
