@use '../../styles/constants' as *;

main#main {
  padding: 0 80px 70px;
  word-break: break-all;
  // min-height: calc(100vh - 443px); //! 선아
  min-height: calc(100vh - 120px); //! 선아
  margin-top: 120px;
}

@media screen and (max-width: $md-breakpoint) {
  main#main {
    padding: 0 0 30px;

    // min-height: calc(100vh - 718px); //! 선아
    min-height: calc(100vh - 50px); //! 선아
    margin-top: 50px;
  }
}
