@use '../../styles/constants' as *;
@use '../../styles/mixins' as *;

.map-area {
  height: inherit;

  @media screen and (max-width: $md-breakpoint) {
    height: unset;
  }
}

.map-info-container {
  position: absolute;
  left: -75px;
  top: -78px;
  text-align: center;
  overflow: hidden;
  line-height: 1.5;

  .map-info-content {
    width: 150px;
    height: 34px;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #000;

    .map-info-content-name {
      font-weight: 400;
      font-size: 16px;
      color: #000;
      padding-top: 5px;
    }
    .map-info-content-link {
      color: blue;
    }

    .map-info-content-close {
      background-color: transparent;
      font-size: 20px;
      color: #000;
      position: absolute;
      top: 6px;
      right: 15px;
      width: 17px;
      height: 17px;
      padding: 0 6px;
      border: 0 solid black;
    }
  }
}
