@use '../../styles/constants' as *;
@use '../../styles/mixins' as *;

.shop-list {
  @include flexbox(flex-start);
  flex-direction: column;
  overflow-y: auto;
  color: #000;
  // background-color: #eeeeee;

  * {
    width: 100%;
  }

  @media screen and (max-width: $md-breakpoint) {
    // display: none;
  }

  h1 {
    @include flexbox();
    // align-items: center;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
  }

  h1::before {
    content: '';
    flex: 1;
    margin-right: 1rem;
    height: 1px;
    background-color: #262626;
  }

  h1::after {
    content: '';
    flex: 1;
    margin-left: 1rem;
    height: 1px;
    background-color: #262626;
  }
  // }

  .shop-info-area {
    padding: 10px 20px;

    .shop-info {
      position: relative;
      top: 0px;
      background-color: #eeeeee;
      border-radius: 2px;
      padding: 20px;
      margin-bottom: 20px;
      cursor: pointer;
      transition: all 0.2s ease-out;

      &:hover {
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        // border: 1px solid #cccccc;
        background-color: #f8f8f8;
      }

      &.selected {
        background-color: #fff;
      }

      .shop-info-name {
        font-weight: 700;
      }

      .shop-info-address {
        font-size: 12px;
      }
    }
  }
}
