.keyboard-detail-carousel {
  max-width: 300px;
}

.keyboard-detail-img,
.keyboard-detail-video {
  display: block;
  max-width: 300px;
  max-height: 200px;
  object-fit: cover;
}

.keyboard-detail-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // position: absolute;
  // left: 50%; /* % of surrounding element */
  // top: 50%;
  // transform: translate(-50%, -50%); /* % of current element */
}

// .video-cover {
//   position: relative;
//   overflow: hidden;
// }

// .keyboard-detail-video-cover .keyboard-detail-video {
//   object-fit: contain;
//   // background: #fecb58;
//   // background: linear-gradient(to bottom left, #fecb58, #27aacf);
// }

// .video-nocover {
//   position: relative;
// }
