@use '../styles/constants' as *;

.keyboard-category {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr;

  & > * {
    border: 1px solid #000;
  }
}

.card-section {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // column-gap: 30px;
  // row-gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 2rem;
  justify-content: space-around;
  justify-items: center;
}
