@use '../styles/constants' as *;

.landing-main {
  word-break: break-all;
  min-height: calc(100vh - 443px);
  margin-top: 120px;
}

@media screen and (max-width: $md-breakpoint) {
  .landing-main {
    min-height: calc(100vh - 718px);
    margin-top: 50px;
  }
}
