{
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "script",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "ignorePatterns": ["node_modules/"],
  "parser": "babel-parser"
}
