@use '../styles/constants' as *;

.footer {
  background-color: #000;
  padding: 70px 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;

  ul {
    list-style: none;
  }

  h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: #fff;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
    }
  }

  a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

    &:hover {
      color: #ffffff;
      padding-left: 8px;
    }
  }
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

/* 반응형 */
@media screen and (max-width: $md-breakpoint) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
// @media (max-width: 574px) {
//   .footer-col {
//     width: 100%;
//   }
// }
