@use '../styles/constants' as *;

.header {
  // background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  background-color: #000;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  // font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  // padding-top: 30px;
  padding: 30px 20px 0;
  // position: fixed;
  // left: 0;
  // top: 0;
  // width: 100%;
  // height: 100px;
  // -webkit-box-sizing: border-box;
  // box-sizing: border-box;
  // background-color: black;
  // z-index: 10;
  /* -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transition-delay: 0.05s;
  -o-transition-delay: 0.05s; */

  &.bgc-white {
    background-color: #fff;
    color: #000;
  }
}

.header-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  // justify-content: center;
  // align-items: center;
  // height: 80px;
  // max-width: 1500px;
  // position: relative;
  // max-width: 1336px;
  // height: calc(100% - 44px);
  // margin: 0 auto;
  // margin-top: 44px;
}

.header-logo {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-decoration: none;
  cursor: pointer;
  margin-top: 30px;

  & > * {
    vertical-align: middle;
  }
}

.navigation {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  // width: 60vw;
  // justify-content: end;
  // margin-right: 2rem;
  // position: absolute;
  // left: 32px;
  // top: 0;
  // height: 28px;
}

.nav-menu,
.button-menu {
  display: flex;
  column-gap: 10px;
  height: 100%;
}

.nav-item,
.button-item {
  /* height: 80px; */
}

.nav-links,
.button-links {
  color: #fff;
  display: flex;
  // align-items: center;
  text-decoration: none;
  // padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover,
.button-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  // width: 60vw;
  // justify-content: end;
  // margin-right: 2rem;
  // position: absolute;
  // right: 32px;
  // top: 0;
  // height: 28px;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: $md-breakpoint) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #000;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: flex;
    // position: absolute;
    // top: 0;
    // left: 0;
    // transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
